.projects {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title {
  text-align: center;
  align-items: center;
  justify-content:center;
  color: linear-gradient(
    151deg,
    rgba(120, 120, 120, 1) 12%,
    rgba(223, 167, 12, 1) 100%
  );
  font-size: 60px;
  font-weight: bolder;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid white;
  margin:0;
}

.projectList {
  width: 90%;
  margin:auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.projectItem {
  border-radius: 15px;
  width: 400px;
  height: 550px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: #2e2e2e;}

@media only screen and (max-width: 450px) {
  .projectItem { prborder-radius: 15px;
  width: 300px;
  height: 490px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: #2e2e2e;
  }
}

.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}

.projectItem img {
  width: 100%;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h1 {
  font-size: 25px;
  color: #cccccc;
}
.rest{
  width:90%;
  height:60px;
  display: flex;
  border: 1px solid #707070;
  align-items: center;
  margin: 100px auto;
  justify-content:center;
  padding: 40px;
  border-radius: 18px;
  background-color: #B0B0B0;
  padding:10px;
}
@media only screen and (max-width: 450px) {
  .rest{
  width: 90%;
    height: 60px;
    display: flex;
    border: 1px solid #707070;
    align-items: center;
    margin: 100px auto;
    justify-content: center;
    border-radius: 18px;
    background-color: #B0B0B0;
    padding: 60px;}}

span {
 margin: 6px;
    color: gray;
    border: solid 1px #dfa70c;
    padding: 0.25em 0.6em;
    border-radius: 12px;
  align-items: center;}
@media only screen and (max-width: 450px) {
 span{ margin: 6px;
  color: gray;
  font-size:15px;
  border: solid 1px #dfa70c;
  padding: 0.25em 0.6em;
  border-radius: 12px;}
  .description {
  
    font-size:15px;
  }
}


p {
  /* padding: 0.5em; */
  
}

.color{
  text-decoration: none;
  color: #cccccc;
}
@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  #title {
    font-size: 1.6rem;

  }

}


@media only screen and (min-width: 501px) and (max-width: 1400px) {
  .projectList {
    font-size:5px;
    width: 100%;
  }
  .projectItem {
    width: 360px;
    height: 500px;
    margin:15px;
    align-items: center;
    
  }
  span {
    margin: 5px;
  }
  #title {
    font-size: 1.9rem;
    padding: 50px 0 0 0;
    margin:15px 0;
  }
  #title:hover {
    border-bottom: solid 1px #dfa70c;
    width: 80%;
    transition-duration: 1s;
  }
}
