.list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #707070;
  align-items: center;
  margin: 70px 10% 50px;
  padding: 0 40px;
  border-radius: 18px;
  background-color: #b0b0b0;
}
.icon {
  width: 5%;
  cursor: pointer;
}
.icon:hover {
  transition-duration: 0.3s;
  color: #dfa70c;
}

@media only screen and (max-width: 450px) {
  .icon {
    width: 8%;
  }
  .list {
    margin: 354px 10% 30px;
    padding: 0px 15px;
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #707070;
    align-items: center;
    border-radius: 18px;
    background-color: #b0b0b0;
  }

  
}
@media only screen and (max-width: 900px) {
  .icon {
    width: 8%;
  }
  .list {
    margin: 354px 10% 30px;
    padding: 0px 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #707070;
    align-items: center;
    border-radius: 18px;
    background-color: #b0b0b0;
  }}
