.list{
    width:80%;
    height:70px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #707070;
    align-items: center;
    margin: 20px 10%;
    padding: 40px;
    border-radius: 18px;
    background-color: #B0B0B0;
    
}
.icon{
    width:5%;
    cursor:pointer;
}
.icon:hover{
    transition-duration:0.3s;
        color:#DFA70C;}