body {
    overflow-x: hidden;
  }
  
button{
    color:green;
    border-radius:50%;
    width:1.4rem;
    height:1.4rem;
    display:flex;
    align-items:center;
    padding:2px 6px;
    margin:0px 6px 0px 6px;
    cursor:pointer;

}
#style{
    border-radius: 50%;
    justify-content:center;
    width:70%;

}
#style img{
    justify-items: center;
    border: 1px solid azure;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 0 17px;
    margin: 0px 52.5% 0;

}

.buttun{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:0 0 50px 0;
    
}
.first{
    background-color:#9facc2;
}
.sec{
    background-color:#DFA70C;
}
.terc{
    background-color:#5282d1;
}
@media only screen and (max-width: 450px) {
    #style img{
        justify-items: center;
        border: 1px solid azure;
        border-radius: 50%;
        padding: 5px 5px;
        margin: 0px 52.5% 0;
    

}
.buttun{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:0 0 -0px 0;
    
}
button{
    width:1.2rem;
    height:1.2rem;
}
}